body[b-komv3drcwp] {
}

input[type=text][b-komv3drcwp], input[type=datetime][b-komv3drcwp]  , input[type=number][b-komv3drcwp]{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 5px;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    opacity: 0.4;
    font-size: large;
    border-radius: 15px;
    color: darkblue;
}
label[b-komv3drcwp] {
    width: 60%;
    padding: 12px 20px;
    /* margin: 8px 0;*/
    margin-left: 5px;
    /* display: inline-block;*/
    /* border: 1px solid black;*/
    box-sizing: border-box;
    opacity: 0.4;
    font-size: x-large;
    font-display: block;
    /* border-radius: 15px;*/
    color: cyan;
}