@page
@model dbConnCore.Pages.All_paymentsModel
@{
    ViewData["Title"] = "All Payments";

    

}

    <p>This is all payments..</p>


    <table>
        <thead>
            <tr>
                <th> Payer-Name &nbsp;&nbsp; </th>
                <th>Payer -Date&nbsp;&nbsp;</th>

                <th> Payer-Status&nbsp;&nbsp;  </th>
                <th> Payer-Amount&nbsp;&nbsp;  </th>

                

            </tr>

        </thead>
        <tbody>
            @foreach (var x in Model.payment1)
            {
                <tr>
                    <td>@x.name</td>
                    <td>@x.paid_date</td>
                    <td>@x.status</td>
                    <td> @x.amount </td>
                  


                </tr>
            }
        </tbody>

    </table>

