@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
  
@*    <p>Learn about <a href="https://www.oliveserviceapartmentshyderabad.com/jubilee-hills/?gclid=EAIaIQobChMI8Ob43cev-wIVriErCh3RVAaLEAAYAiAAEgKWPvD_BwE"><h1 class="btn-outline-primary">Olive Service Apartments </h1></a>.</p>
*@
</div>
